In [1]:
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
data_file = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame

purchase_file_df = pd.read_csv(data_file)
purchase_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Player Count

#Display the total number of players
player_count = purchase_file_df.groupby("SN")["SN"].nunique().count()
player_count

576

In [4]:
#Purchasing Analysis (Total)
 
#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = len(purchase_file_df["Item ID"].unique())

average_price = purchase_file_df["Price"].mean()

no_of_purchases = purchase_file_df["Purchase ID"].count()

total_revenue = purchase_file_df["Price"].sum()


#Create a summary data frame to hold the results

summary_df = pd.DataFrame(dict(unique_items=unique_items, average_price=average_price, no_of_purchases=no_of_purchases, total_revenue=total_revenue),
                         index=[0]).round(2)
summary_df

#Optional: give the displayed data cleaner formatting

#Display the summary data frame

   unique_items  average_price  no_of_purchases  total_revenue
0           179           3.05              780        2379.77

In [5]:
#Gender Demographics

#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

gender_pct = ((purchase_file_df["Gender"].value_counts() / purchase_file_df["Gender"].count()) *100).round(2)
gender_pct

# #gender_count_female = purchase_file_df[purchase_file_df["Gender"]== "Female",].count()
# #gender_count_male = purchase_file_df[purchase_file_df["Gender"]== "Male",].count()

gender_count = purchase_file_df.groupby("Gender")["SN"].nunique()
gender_count

gender_table_df = pd.DataFrame({"Total Count": gender_count, "Percent of Players": gender_pct})
gender_table_df

#gender_groups = purchase_file_df.groupby("Gender").size()
#gender_groups

                       Total Count  Percent of Players
Female                          81               14.49
Male                           484               83.59
Other / Non-Disclosed           11                1.92

In [6]:
#Purchasing Analysis (Gender)
 
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

#purchase count by gender
gender_purchase = purchase_file_df.groupby("Gender")["Item Name"].count()

#avg. purchase price by gender
gender_avg_purchase = purchase_file_df.groupby("Gender")["Price"].mean().round(2)

#avg. purchase total per person by gender
gender_avg_total = purchase_file_df.groupby("Gender")["Price"].sum()


average_pp = ((gender_avg_total)/(gender_count)).round(2)

              
#Create a summary data frame to hold the results
gender_summary_df = pd.DataFrame({"Purchase Count": gender_purchase, "Average Purchase Price": gender_avg_purchase, "Total Purchase Value": gender_avg_total, "Avg Total Purchase per Person": average_pp})
gender_summary_df


#Optional: give the displayed data cleaner formatting

#Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [14]:
#Age Demographics
 
#Establish bins for ages

bins = [0,10,15,20,25,30,35,40,45]
age_catagory = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

#Categorize the existing players using the age bins. Hint: use pd.cut()


#Calculate the numbers and percentages by age group
purchase_file_df["Player Summary"] = pd.cut(df["Age"], bins, labels=age_catagory, include_lowest=True)
df

#Create a summary data frame to hold the results

#Optional: round the percentage column to two decimal points

#Display Age Demographics Table

NameError: name 'df' is not defined

In [ ]:
#Purchasing Analysis (Age)
 
#Bin the purchase_data data frame by age

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

#Create a summary data frame to hold the results

#Optional: give the displayed data cleaner formatting

#Display the summary data frame

In [ ]:
#Top Spenders
 
#Run basic calculations to obtain the results in the table below

#Create a summary data frame to hold the results

#Sort the total purchase value column in descending order

#Optional: give the displayed data cleaner formatting

#Display a preview of the summary data frame

In [ ]:
#Most Popular Items
 
#Retrieve the Item ID, Item Name, and Item Price columns

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

#Create a summary data frame to hold the results

#Sort the purchase count column in descending order

#Optional: give the displayed data cleaner formatting

#Display a preview of the summary data frame

In [ ]:
#Most Profitable Items
 
#Sort the above table by total purchase value in descending order

#Optional: give the displayed data cleaner formatting

#Display a preview of the data frame